/* About/bio section */
.about__logo {
  height: 8rem;
  border-radius: 50%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  border: #000 1px solid;
/*    height: 1.5rem;*/
}

.about__title {
    display: inline;
    vertical-align: top;
}

.about__title::before {
    content: none;
}

/* Social media links */
.aside__social-links {
    padding: 0;
}

.aside__social-links li {
    display: inline-block;
}

.aside__social-links li::marker {
    content: none;
}
